@import "fonts-style.scss";
body{
    background-color: #131313;
}
.container{
    width: 1920px;
    padding: 0 100px;
}
h1{
    font-family: Montserrat-Bold;
    font-size: 42px;
    line-height: 51.2px;
    color: #ffffff;
}
.d-none{
    display: none;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #131313;
        z-index: 2;
    }
}
.header_body{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 117px;
    align-items: center;    
}
.header_logo{display: flex;
    position: relative;
    z-index: 3;
}
.logo{
    width: 60px;
}
.logo_text{
    width: 100px;
}
.header_burger{
    display: none;
}


.header_list{
    display: flex;
    position: relative;
    z-index: 2;
    & li{
        list-style: none;
        margin: 0 0 0 42px;
        & a{
            text-decoration: none;
            &:hover{
                text-shadow:1px 1px 0 #808080, -1px 1px 0 #808080, 1px -1px 0 #808080, -1px -1px 0 #808080;
                color:#131313;
                font-family: Montserrat-Bold;
            }
        }
    }
}
.header_link{
    color:#fff;
    text-transform: uppercase;
    font-family: Montserrat-Bold;
    font-size: 14px;
    
}


.header_button{
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
}
i.icon-phone {
    background-image: url(../images/carbon_phone-filled.svg);
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    transform: skew(25deg);
}
a.phone {
    margin: 0 20px 0 200px;
    padding: 17px 36px;
    display: block;
    text-decoration: none;
    border: 1px solid #ffffff;
    transform: skew(-20deg);
    &:hover{
        background-color: #C2AB81;
        border: 1px solid #C2AB81;
    }
}
a.button {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    padding: 21px 78px;
    background-color: #C2AB81;
    display: block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #C2AB81;
    transform: skew(-20deg);
    position: relative;
    max-width: 293px;
    & span {
        display: block;
        transform: skew(20deg);
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: -20px;
        width: 8px;
        height: 100%;
        background-color: #ffffff;
        display: block;
        text-decoration: none;
        border: 1px solid #ffffff;
    }
    &:hover{
        background-color: #131313;
        border: 1px solid #ffffff;
    }
}



.content {
    margin: 117px 0 0 0;
    background-image: url(../images/content_fon_lx.svg);
    width: 100%;
    height: 960px;
    background-size: cover;
    background-position: center center;
}
.ilon{
    position: absolute;
    bottom: 0px;
    max-width: 550px;
    &>a{
        margin-left: 15px;
    }
}
.dogie_coin{
    font-family: Montserrat-Regular;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}
.gradient {
    position: absolute;
    width: 100%;
    height: 389px;
    bottom: -180px;
    background: linear-gradient(180deg, #131313 0%, rgba(19, 19, 19, 0) 100%);
    transform: rotate(-180deg);
}
.cards{
    margin-top: 134px;
}
.card_style{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 31px;
}
.card{
	width: 310px;
    height: 615px;
    margin: 0 30px 30px 0px;
	background: #FFFFFF;
}
.card_image{
	height: 179px;
    width: 310px;
}
.card_info{
	padding-left: 24px;
}
.card_info h6{
	font-family: 'Mulish-Bold';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 26px;
	color: #171717;
	padding-top: 25px;
	padding-bottom: 20px;
	margin: 0;
	min-height: 26px;
}
span.text1{
	font-family: 'Montserrat-Regular';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #171717;
}
p.text2{
	font-family: 'Montserrat-Regular';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	color: #666666;
}
p.text3{
	font-family: 'Montserrat-Regular';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 24px;
	color: #666666;
	padding-top: 0px;
    padding-bottom: 40px;
}
b{
	font-family: 'Montserrat-Regular';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	color: #171717;
}
a.button_card{
	font-family: 'Mulish-SemiBold';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	padding: 22px;
	margin: -30px 24px 30px 0;
    background-color: #171717;
    display: block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #171717;
	position:relative;
    &:hover{
        text-shadow:1px 1px 0 #808080, -1px 1px 0 #808080, 1px -1px 0 #808080, -1px -1px 0 #808080;
        color:#131313;
        font-family: Montserrat-Bold;
    }
}
.scale {
    transition: 1s; 
    &:hover {
        transform: scale(1.1);
       }
   }
.download{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}


.form-sub{
	display: flex;
	flex-direction: column;
    & p{
        margin: 15px 0 0 0px;
    }
}
.coin{
    height: 100%;
}
.form{
	padding-left: 95px;
	transform: skew(4deg);
    & p{
        font-size: 14px;
        color: #808080;
        & a{
            color: #808080;
        }
    }
}
.popup-flex{
	display: flex;
    flex-wrap: nowrap;
    & h1{
        margin-top: 50px;
    }
}
.popup-block{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: none;
    &.active{
        display: block;
    }
}
.form-callback{
	width: 600px;
    background-color: #131313;
    position: relative;
    margin: 50px auto;
    transform: skew(-4deg);
    & input[type="text"],.form-callback input[type="email"],.form-callback input[type="phone"]{
        width: 86%;
        display: block;
        margin: 0;
        margin-bottom: 15px;
    }
    & input[type="comment"]{
        width: 86%;
        display: block;
        margin: 0;
        margin-bottom: 15px;
        height: 70px;
    }
}
input.style_input{
    width: 86%;
    font-size: 16px;
    font-family: 'Montserrat-Regular';
	font-style: normal;
	font-weight: 700;
    border-width: 0;
    border: 1px solid #ffffff;
    margin: 0 10px 10px 0px;
	height: 70px;
    background-color: #131313;
	padding-left: 36px;
	color: #ffffff;
}
.close-popup{
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
	padding: 17px 30px;
    &:before{
        content: "";
        display: block;
        width: 25px;
        height: 3px;
        background-color: #ffffff;
        transform: rotate(45deg);
        position: relative;
        top: 7px;
    }
    &:after{
        content: "";
        display: block;
        width: 25px;
        height: 3px;
        background-color: #ffffff;
        transform: rotate(-45deg);
        position: relative;
        top: 4px;
    }
    &:hover::before{
        animation: close-first 2s;
    }
}
@keyframes close-first{
    100%{transform:rotate(225deg)}
}
.close-popup:hover::after{
    animation: close-second 2s;
}
@keyframes close-second{
    100%{transform:rotate(-225deg)}
}

@import "adaptive.scss";














